* {
    font-family: 'M PLUS Rounded 1c', Avenir Next, Helvetica, sans-serif;
    color: white;
  }
  
  body {
    background: #272639;
    position: relative;

  }
  
  .wrapper {
    height: auto;
    width: 50vw;
    color: white;
    background: #272639;
    border-radius: 1rem;
    padding: 1.2rem;
    margin: 55px auto;
    border: 3px solid #353959;
    
  }
  @media (max-width: 640px){
    .wrapper {
      height: auto;
      width: 80vw;
     
      
    }
  }
 
  
  #topContainer {
    margin-top: 4rem;
  }
  
  .container {
    margin-top: 1.4rem;
  }
  
  .title {
    font-weight: bold;
    margin-bottom: 0.6rem;
  }
  
  .inputContainer {
    background: #353959;
    border-radius: 5px;
    padding: 0 0.8rem;
    display: flex;
    align-items: center;
  }
  
  #billTotalInput,
  #tipInput {
    font-size: 1.2rem;
    background: none;
    border: none;
    outline: none;
    padding: none;
    height: 100%;
    width: 100%;

  }
  
  .buttonContainer {
    background: #8990ec;
    display: grid;
    place-items: center;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
  }
  
  .splitButton {
    background: none;
    border: none;
  }
  
  .controls {
    display: flex;
    align-items: center;
  }
  
  .splitButton {
    font-size: 0.8rem;
    font-weight: bold;
    display: grid;
    place-items: center;
  }
  
  .buttonText {
    color: #353959 !important;
  }
  
  /* .splitAmount {
    font-size: 1.6rem;
    margin: 0.8rem;
  } */
  
  #bottom {
    display: flex;
    justify-content: space-between;
  }
  
  .totalContainer {
    display: flex;
    flex-direction: column;
  
  }
  
  .total {
    font-size: 1.3rem;
    font-weight: bold;
  }

  #surchargeInput{
    font-size: 1.2rem;
    background: none;
    border: none;
    outline: none;
    padding: none;
    height: 100%;
    width: 100%;
  }

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

  